<h1><%=@article.title%></h1>
<p><%=@article.body%></p>
<hr/>

<%= link_to "<< Back to article list", articles_path %> <br/>

<%=link_to "Delete", article_path(@article), method: :delete, 
data: {confirm: "Really delete the article"} %> <br/>

<%= link_to "Edit", edit_article_path(@article)%>